{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
            {{ form_row(form.nameSurvey) }}
            {{ form_row(form.question1) }}
            {{ form_row(form.question2) }}
            {{ form_row(form.question3) }}
            {{ form_row(form.question4) }}
            {{ form_row(form.question5) }}
    <button class="mt-4 btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
