{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto w-50 text-center">
            <h2>{{ survey.nameSurvey }}</h2>
            <div class="mt-4 card" style="min-height: 40px;">
                <div>{{ survey.question1 }}</div>
{#                {{ survey.score1 }}#}
                <div class="mb-4">
{#                    <i class="fa-solid fa-star"></i>#}
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="mt-4 card" style="min-height: 40px;">
                <div>{{ survey.question2 }}</div>
                {# survey.score2 #}
                <div class="mb-4">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="mt-4 card" style="min-height: 40px;">
                <div>{{ survey.question3 }}</div>
{#              {{ survey.score3 }}#}
                <div class="mb-4">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="mt-4 card" style="min-height: 40px;">
                <div>{{ survey.question4 }}</div>
                <div class="mb-4">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
{#                <p>{{ survey.score4 }}</p>#}
            </div>
            <div class="mt-4 card" style="min-height: 40px;">
                <div>{{ survey.question5 }}</div>
                <div class="mb-4">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
{#                <p>{{ survey.score5 }}</p>#}
            </div>
            <a class="mt-4 btn btn-primary" href="{{ path('app_survey_index') }}">Valider</a>
        </div>
    </div>


{#    <a href="{{ path('app_survey_index') }}">back to list</a>#}
{#    <a href="{{ path('app_survey_edit', {'id': survey.id}) }}">edit</a>#}

{#    {{ include('survey/_delete_form.html.twig') }}#}
{% endblock %}
