{% extends 'base.html.twig' %}

{% block title %}Gameroom{% endblock %}

{% block body %}
    <h1>Gameroom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gameroom.id }}</td>
            </tr>
            <tr>
                <th>NbPlayer</th>
                <td>{{ gameroom.nbPlayer }}</td>
            </tr>
            <tr>
                <th>DateInvit</th>
                <td>{{ gameroom.dateInvit ? gameroom.dateInvit|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HashInvit</th>
                <td>{{ gameroom.hashInvit }}</td>
            </tr>
            <tr>
                <th>HashTimeout</th>
                <td>{{ gameroom.hashTimeout ? gameroom.hashTimeout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Leader</th>
                <td>{{ gameroom.leader }}</td>
            </tr>
        </tbody>
    </table>

{#    <a href="{{ path('app_gameroom_index') }}">back to list</a>#}

{#    <a href="{{ path('app_gameroom_edit', {'id': gameroom.id}) }}">edit</a>#}

{#    {{ include('gameroom/_delete_form.html.twig') }}#}
{% endblock %}
