{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('filter') }}
{% endblock %}

{% block body %}
    {#    Présentation du site #}
    <div id="presentation" class="bg-dark text-light">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-center">
                    <p class="py-3 fs-1 text-center text-light">Jouez en ligne avec Boardgameonline-proto</p>
                    <p class="fs-5 text-center text-light">Site dédié au test de jeux de sociétés en phase de
                        prototype</p>
                    <p class="lead text-center"><a href="#game-list">
                            <button type="button" class="btn btn-primary">
                                Jouez en ligne
                            </button>
                        </a></p>
                </div>
            </div>
        </div>
    </div>
    {#    svg wave #}
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 180" xmlns="http://www.w3.org/2000/svg"
         class="transition duration-300 ease-in-out delay-150">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="51%" x2="100%" y2="49%">
                <stop offset="5%" stop-color="#21252988"></stop>
                <stop offset="95%" stop-color="#21252988"></stop>
            </linearGradient>
        </defs>
        <path d="M 0,400 C 0,400 0,133 0,133 C 147.19999999999993,155.93333333333334 294.39999999999986,178.86666666666665 446,170 C 597.6000000000001,161.13333333333335 753.6000000000001,120.46666666666667 920,109 C 1086.3999999999999,97.53333333333333 1263.1999999999998,115.26666666666667 1440,133 C 1440,133 1440,400 1440,400 Z"
              stroke="none" stroke-width="0" fill="url(#gradient)"
              class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path>
        <defs>
            <linearGradient id="gradient" x1="0%" y1="51%" x2="100%" y2="49%">
                <stop offset="5%" stop-color="#212529ff"></stop>
                <stop offset="95%" stop-color="#212529ff"></stop>
            </linearGradient>
        </defs>
        <path d="M 0,400 C 0,400 0,266 0,266 C 118.66666666666663,239.73333333333335 237.33333333333326,213.46666666666667 391,223 C 544.6666666666667,232.53333333333333 733.3333333333335,277.8666666666667 914,291 C 1094.6666666666665,304.1333333333333 1267.3333333333333,285.06666666666666 1440,266 C 1440,266 1440,400 1440,400 Z"
              stroke="none" stroke-width="0" fill="url(#gradient)"
              class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 200)"></path>
    </svg>
    {#    Explication du site #}
    <div class="container">
        <div class="row justify-content-center  py-5">
            <div class="ms-2 mb-3 col-12 col-sm-6 col-lg-3 text-center btn btn-danger" style="height:250px;">
                <h2>Auteurs</h2>
                <p style="height:100px;">Les auteurs rédigent les règles de leurs jeux.
                </p>
                <p style="height:50px;" class="lead text-center">
                    <a href="" class="btn btn-secondary">
                        <i class="fa-solid fa-book"></i>
                    </a>
                </p>
            </div>
            <div class="ms-2 col-12 col-sm-6 col-lg-3 text-center btn btn-danger" style="height:250px;">
                <h2>Développeurs</h2>
                <p style="height:100px;">Les développeurs implémentent une version en ligne du jeu en accord avec les
                    règles de l'auteur.</br>
                </p>
                <p style="height:50px;" class="lead text-center">
                    <a href="" class="btn btn-secondary">
                        <i class="fa-solid fa-laptop-code"></i>
                    </a>
                </p>
            </div>
            <div class="ms-2 col-12 col-sm-6 col-lg-3 text-center btn btn-danger" style="height:250px;">
                <h2>Joueurs</h2>
                <p style="height:100px;">Les joueurs testent les jeux et donnent leurs avis.</p>
                <p style="height:50px;" class="lead text-center">
                    <a href="" class="btn btn-secondary">
                        <i class="fas fa-user"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div id="explication" class="vh-50 bg-secondary bg-opacity-25">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h2 class="py-3 fs-2 text-center text-dark">Envie de rejoindre l'aventure ?</h2>
                    <p class="text-center text-dark">Vous souhaitez que votre jeu soit testé</p>
                    <p class="text-center text-dark">Du blabla et encore du blabla</p>
                </div>
            </div>
        </div>
    </div>
    {#    Partie Jeu du site #}
    <div id="game-list">
        <div class="container" >
            <div class="row">

                {#      Main Gamelist #}
                <div class="row col-12 justify-content-center">
                    {#      Début de Sidebar #}
                    <div class="my-4 col-12 filter" >
                        {#                Filtre par catégorie #}
                        <div class="px-3 card">
                            <div class="form-check">
                                {% include 'components/_filter.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <h1 class="text-center">Liste des jeux</h1>

                    {% for game in games %}
                        {#  Refactor components card game #}
                        <div class="row col-4 text-center justify-content-center card">
                            <div>{{ game.name }}</div>
                            <div>
                                <img src="{{ vich_uploader_asset(game, 'imageFile') }}" width="240" height="160"></div>
                            <div class="mt-3 mb-3 row justify-content-between">
                                {% if app.user == false %}
                                    <div class="col-6"><a class="btn btn-outline-success"
                                                          href="{{ path('app_login') }}">Jouer</a></div>
                                {% else %}
                                    <div class="col-6"><a class="btn btn-outline-primary"
                                                          href="{{ path('app_gameroom_index', {id: game.id}) }}">Jouer</a>
                                    </div>
                                {% endif %}
                                <div class="col-6"><a class="btn btn-outline-primary"
                                                      href="{{ path('app_game_show', {id: game.id}) }}">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="mt-4 ms-5">
                        {{ knp_pagination_render(games) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#      Footer - Pagination #}
    <footer class=" vh-100 bg-dark text-light">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="mt-4 col-12 text-center">
                    <a href="{{  path('app_report_bug') }}" class="btn btn-danger">Signaler une erreur</a>
                </div>
                <div class="col-12 text-center">
                    <p><small>&copy; Lorem ipsum sit amet consectur</small></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
